name: Snowflake Deploy Demo (DEV / PROD)

on:
  push:
    branches:
      - dev
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      # 1. Checkout repository
      - name: Checkout code
        uses: actions/checkout@v4

      # 2. Install Snowflake CLI
      - name: Install Snowflake CLI
        run: |
          python3 -m pip install --upgrade pip
          pip install snowflake-cli-labs
          snow --version

      # 3. Set environment (DEV / PROD)
      - name: Set Environment
        run: |
          if [ "${{ github.ref_name }}" = "dev" ]; then
            echo "ENV=DEV" >> $GITHUB_ENV
          else
            echo "ENV=PROD" >> $GITHUB_ENV
          fi

      # 4. Deploy SQL (NON-INTERACTIVE)
      - name: Deploy to Snowflake
        env:
          SNOWFLAKE_ACCOUNT: ${{ secrets.SF_ACCOUNT }}
          SNOWFLAKE_USER: ${{ secrets.SF_USER }}
          SNOWFLAKE_PASSWORD: ${{ secrets.SF_PASSWORD }}
          SNOWFLAKE_WAREHOUSE: ${{ secrets.SF_WAREHOUSE }}
          SNOWFLAKE_ROLE: ACCOUNTADMIN
        run: |
          echo "Deploying to environment: $ENV"

          # Replace ENV placeholder
          sed "s/{{ENV}}/$ENV/g" sql/01_database.sql > deploy_final.sql

          # Execute SQL directly (no connection creation)
          snow sql \
            --filename deploy_final.sql
