name: Snowflake Single SQL Deploy (DEV / PROD)

on:
  push:
    branches:
      - dev
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install SnowSQL (Official)
        run: |
          curl -L https://sfc-repo.snowflakecomputing.com/snowsql/bootstrap/snowsql-bootstrap.sh -o snowsql-bootstrap.sh
          bash snowsql-bootstrap.sh
          echo "$HOME/.snowsql" >> $GITHUB_PATH
          snowsql --version

      - name: Set Environment
        run: |
          if [ "${{ github.ref_name }}" = "dev" ]; then
            echo "ENV=DEV" >> $GITHUB_ENV
          else
            echo "ENV=PROD" >> $GITHUB_ENV
          fi

      - name: Deploy to Snowflake
        env:
          SF_ACCOUNT: ${{ secrets.SF_ACCOUNT }}
          SF_USER: ${{ secrets.SF_USER }}
          SF_PASSWORD: ${{ secrets.SF_PASSWORD }}
          SF_WAREHOUSE: ${{ secrets.SF_WAREHOUSE }}
        run: |
          echo "Deploying to $ENV"
          sed "s/{{ENV}}/$ENV/g" deploy.sql | \
          snowsql \
            -a $SF_ACCOUNT \
            -u $SF_USER \
            -p $SF_PASSWORD \
            -w $SF_WAREHOUSE \
            -r ACCOUNTADMIN \
            -f -
