name: Snowflake Object Deployment (DEV / PROD)

on:
  push:
    branches:
      - dev
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Snowflake CLI
        run: |
          python3 -m pip install --upgrade pip
          pip install snowflake-cli-labs
          snow --version

      - name: Set deployment environment
        run: |
          if [ "${{ github.ref_name }}" = "dev" ]; then
            echo "ENV=DEV" >> $GITHUB_ENV
          else
            echo "ENV=PROD" >> $GITHUB_ENV
          fi

      - name: Configure Snowflake connection
        env:
          SNOWFLAKE_ACCOUNT: ${{ secrets.SF_ACCOUNT }}
          SNOWFLAKE_USER: ${{ secrets.SF_USER }}
          SNOWFLAKE_PASSWORD: ${{ secrets.SF_PASSWORD }}
          SNOWFLAKE_WAREHOUSE: ${{ secrets.SF_WAREHOUSE }}
        run: |
          mkdir -p ~/.snowflake
          cat <<EOF > ~/.snowflake/config.toml
          [connections.default]
          account = "$SNOWFLAKE_ACCOUNT"
          user = "$SNOWFLAKE_USER"
          password = "$SNOWFLAKE_PASSWORD"
          warehouse = "$SNOWFLAKE_WAREHOUSE"
          role = "ACCOUNTADMIN"
          authenticator = "snowflake"
          EOF
          chmod 0600 ~/.snowflake/config.toml

      - name: Deploy Snowflake objects
        run: |
          echo "Deploying objects to $ENV environment"

          for folder in tables views stages procedures; do
            if [ -d "sql/$folder" ]; then
              echo "Deploying $folder"

              for file in sql/$folder/*.sql; do
                echo "Running $file"
                sed "s/{{ENV}}/$ENV/g" "$file" > deploy_final.sql

                snow sql \
                  --connection default \
                  --filename deploy_final.sql
              done
            fi
          done